@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Demo.Models.DemoStatistic>



@if (User?.Identity?.IsAuthenticated ?? false)
{

    <div class="text-center">
        <h1 class="display-4">Welcome, @User.Identity.Name</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Population)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Population)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome, to see statistic please log in</h1>
    </div>
}